@page "{id:int}"
@model Ventagram.Pages.Publications.DetailsModel
@{
    ViewData["Title"] = "Detalle";
}

<div id="api-page" data-page-kind="details" data-api-endpoint="/api/content/details/@Model.Id"></div>
